{% extends 'layout.html' %}
{% block content %}

<hr class="m-4">
<hr class="m-4">
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h4>Personal Details</h4>
        </div>
        <div class="card-body">

            <div class="container px-2 px-lg-2">
                <h4 class="text-primary">
                    <ul>The Real Estate Properties 101Acres.com</ul>
                </h4>

                <!-- Heading Row-->
               
                
                <div class="row gx-4 gx-lg-5 align-items-center my-3">
                    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/hall.avif" alt="...">
                    </div>
                    <div class="col-lg-5 text-start">
                        <div class="row text-start bg-body-secondary p-4">

                            <div class="col">
                                <span class="form-label my-3"> <br><b> </b></span>
                            </div>
                            <div class="col">
                                <span class="form-label my-3"> <br><b> </b></span>
                            </div>
                            <div class="col">
                                <span class="form-label my-3"> <br><b> </b></span>
                            </div>
                            <div class="col">
                                <span class="form-label my-3"> <br><b> </b></span>
                            </div>
                        </div>



                        <div class="text-start">
                            <div class="row  mb-3 p-3">


                                <div class="col">


                                    <span class="form-label my-3"> <br><b> </b></span>

                                </div>
                                <div class="col">
                                    <span class="form-label my-3"> <br><b> </b></span>
                                </div>
                                <div class="col">
                                    <span class="form-label my-3"> <br><b> </b></span>
                                </div>

                            </div>
                        </div>
                        <div class="text-start">
                            <div class="row  mb-3 p-3">


                                <div class="col">
                                    <span class="form-label my-3"> <br><b> </b></span>
                                </div>
                                <div class="col">


                                    <span class="form-label my-3"> <br><b> </b></span>

                                </div>
                                <div class="col">
                                    <span class="form-label my-3"> <br><b> </b></span>
                                </div>

                            </div>
                            <div class="col mt-3 p-3">
                                <span class="form-label my-3"> <br><b> </b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">

                </div>
            </div>
            <hr class="m-2">
            <!-- Content Row-->




        </div>
        <div class="text-start mx-5">
            <h3 class="card-header ">More Detail</h3><br>




            <span class="form-label my-3"> <b> </b></span><br>
            <br>
            <span class="form-label my-3"> <b> </b></span><br>
            <br>
            <span class="form-label my-3"> <b> </b></span><br>
            <br>
            <span class="form-label my-3"> <b> </b></span><br>
            <br>
            <span class="form-label my-3"> <b> </b></span><br>
            <br>
            <span class="form-label my-3"> <b> </b></span><br>
            <br>
            <span class="form-label my-3"> <b> </b></span><br>
            <br>
        </div>



{% endblock %}