<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>101Acres.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
            body {
                background-image: url('/static/home.jpg');
                height: 100vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
            }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top  bg-body-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">101Acres</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <main>
        <div class="container mt-5">
            <div class="py-2 text-center">

                <h2>Builder Registration</h2>
                <p class="lead"></p>
            </div>
            <div class="card mx-5">
                <div class="card-body bg-body-secondary">



                    <form class="needs-validation" action="/builderform" method="post" enctype="multipart/form-data">
                        <!-- <div class="col-md-7 col-lg-8"> -->
                        <h4 class="text-center">Registration Form</h4>
                        <hr class="mt-4">
                        <div class="row g-3">
                            <h4 class="row-cols-lg-3">I am Dealing</h4>

                            <div class="col-sm-1 form-check">
                                <input class="form-check-input" type="checkbox" name="deal1" value="Sale"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Sale
                                </label><br>
                            </div>
                            <div class="col-sm-1 form-check">
                                <input class="form-check-input" type="checkbox" name="deal2" value="Rent"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Rent
                                </label>
                            </div>
                        </div>
                        <div class="row g-3 mt-4">
                            <h4 class="mb-3 mt-3">Property Type</h4>

                            <div class="col-sm-2 form-check">
                                <input class="form-check-input" type="checkbox" name="property1" value="Residential"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Residential
                                </label>
                            </div>
                            <div class="col-sm-1 form-check">
                                <input class="form-check-input" type="checkbox" name="property2" value="Commercial"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Commercial
                                </label>
                            </div>
                        </div>
                        <div class="row g-3 mt-4">

                            <h4 class="mt-3">Transaction Type</h4>

                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="transaction1" value="Rent/Lease"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Rent/Lease
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="transaction2" value="Pre-launch"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Pre-launch
                                </label>
                            </div>
                            <div class="col-md-4">
                                <!-- <label for="inputState" class="form-label">Others</label> -->
                                <select id="inputState" class="form-select">
                                    <option selected>Other</option>
                                    <option value="Original Booking">Original Booking</option>
                                    <option value="Resale">Resale</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 mt-4">
                            <h4 class="mb-3">Types of Residential Property</h4>

                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="Residential1"
                                    value="Residential Plot" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Residential Plot
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="Residential2"
                                    value="Residential House" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Residential House
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="Residential3"
                                    value="Builder Floor Apartment" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Builder Floor Apartment
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="Residential4"
                                    value="Multistorey Apartment" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Multistorey Apartment
                                </label>
                            </div>
                            <select class="col form-select" name="Residential5">
                                <option selected>Others</option>
                                <option value="Villa">Villa</option>
                                <option value="penthouse">penthouse</option>
                                <option value="Studio Apartment">Studio Apartment</option>
                                <option value="Paying Guest">Paying Guest</option>
                                <option value="Hostal">Hostal</option>
                            </select>
                        </div>
                        <div class="row g-3 mt-4">
                            <h4 class="mb-3">Types of Commercial Property</h4>

                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="commercial1"
                                    value="Commercial Land" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Commercial Land
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="commercial2"
                                    value="Commercial Office Space" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Commercial Office Space
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="commercial3"
                                    value="Commercial Shop" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Commercial Shop
                                </label>
                            </div>
                            <div class="col-lg-2 form-check">
                                <input class="form-check-input" type="checkbox" name="commercial4"
                                    value="Commercial Showroom" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Commercial Showroom
                                </label>
                            </div>
                            <select class="col form-select" name="commercial5">
                                <option selected>Others</option>

                                <option value="Warehouse/Godown">Warehouse/Godown</option>
                                <option value="Industrial Land">Industrial Land</option>
                                <option value="Industrial Building">Industrial Building</option>
                                <option value="Industrial Shed">Industrial Shed</option>
                                <option value="Office in IT Park/SEZ">Office in IT Park/SEZ</option>
                                <option value="Co-working Space">Co-working Space</option>
                            </select>
                        </div>
                        <div class="row g-3 mt-4">
                            <h4 class="mb-3">Operating Since</h4>

                            <select class="form-select" name="operation1">
                                <option selected>Operating since</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>

                            </select>
                        </div>

                        <div class="mb-3 mt-4">
                            <h4 class="mb-3">Brief Description of Your Business</h4>
                            <label for="text" class="form-label">(MAX 500 CHARACTERS)</label>

                            <textarea class="form-control" id="exampleFormControlTextarea1" name="description1"
                                rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <h4 class="mb-3">Enter Current Projects You Deal In</h4>
                            <label for="text" class="form-label">(MAX 500 CHARACTERS)</label>

                            <textarea class="form-control" id="exampleFormControlTextarea1" name="current1"
                                rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <h4 class="mb-3">Enter Project Handled</h4>
                            <label for="text" class="form-label">(MAX 500 CHARACTERS)</label>

                            <textarea class="form-control" id="exampleFormControlTextarea1" name="projecthandled1"
                                rows="3"></textarea>
                        </div>




                        <hr class="my-3">
                        <small class="text-start mx-2">Value Added Services</small>
                        <div class="row g-3 mt-4">
                            <h4 class="col mb-3 mx-3">Property Registry</h4>


                            <div class="col-lg-2 form-check">
                                <input id="credit" name="registry1" type="radio" value="Yes" class="form-check-input"
                                    required="">
                                <label class="form-check-label" for="credit">Yes</label>
                            </div>
                            <div class="col-lg-4 form-check">
                                <input id="debit" name="registry1" type="radio" value="No" class="form-check-input"
                                    required="">
                                <label class="form-check-label" for="debit">No</label>
                            </div>


                        </div>
                        <div class="row g-3 mt-4">
                            <h4 class="col mb-3 mx-3">Can Provide Loan Facility</h4>


                            <div class="col-lg-2 form-check">
                                <input id="credit" name="loanfacility1" type="radio" value="Yes"
                                    class="form-check-input" required="">
                                <label class="form-check-label" for="credit">Yes</label>
                            </div>
                            <div class="col-lg-4 form-check">
                                <input id="debit" name="loanfacility1" type="radio" value="No" class="form-check-input"
                                    required="">
                                <label class="form-check-label" for="debit">No</label>
                            </div>

                        </div>

                        <hr class="my-4">

                        <div class="row g-3 mt-4">
                            <h4 class="mb-3 mx-3">Valuable client:</h4>

                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <label for="cc-name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="cc-name" name="name1" placeholder=""
                                        required="" fdprocessedid="ecmxkb">
                                </div>

                                <div class="col-md-6">
                                    <label for="cc-number" class="form-label">Deal Value</label>
                                    <input type="text" class="form-control" id="cc-number" name="dealvalue1"
                                        placeholder="" required="" fdprocessedid="768vci">

                                </div>


                            </div>

                            <hr class="m-2">
                            <div class="text-center">

                                <h3 class="mb-2">Office Address</h3>
                            </div>
                            <hr class="m-2">
                            <div class="row mt-4 mx-1">
                                <!-- <h4 class="mb-3">State</h4> -->
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">State</label>
                                    <select id="inputState" class="form-select" name="state1">
                                        <option selected>Choose State</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Hariyana">Hariyana</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Jammu">Jammu</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    </select>
                                </div>
                                <!-- <h4 class="mb-3">City</h4> -->
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">City</label>
                                    <select id="inputState" class="form-select" name="city1">
                                        <option selected>Choose City</option>
                                        <option value="Patiala">Patiala</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Mohali">Mohali</option>
                                        <option value="Zirkpure">Zirkpure</option>
                                        <option value="Malout">Malout</option>
                                        <option value="Muktsar">Muktsar</option>
                                        <option value="Bathinda">Bathinda</option>
                                        <option value="Moga">Moga</option>
                                        <option value="Ludhiana">Ludhiana</option>
                                        <option value="Jalandhar">Jalandhar</option>
                                        <option value="Amritsar">Amritsar</option>
                                        <option value="Mansa">Mansa</option>
                                        <option value="Abhore">Abhore</option>
                                        <option value="Barnala">Barnala</option>
                                        <option value="Rampura">Rampura</option>
                                        <option value="Tapa">Tapa</option>
                                        <option value="Dhuri">Dhuri</option>
                                        <option value="Naba">Naba</option>
                                        <option value="Dabwali">Dabwali</option>
                                        <option value="Fazilka">Fazilka</option>
                                        <option value="Faridkot">Faridkot</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-4 mx-1">
                                <div class="col-sm-4 mb-3">
                                    <label class="form-label">Locality</label>
                                    <input type="text" class="form-control" id="" name="locality1" placeholder="">
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control" id="" name="address1" placeholder="">
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="form-label">Postal Code</label>
                                    <input type="number" class="form-control" id="" name="postal1" placeholder="">
                                </div>
                            </div>
                            <div class="row mt-4 mx-1">

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Person Name</label>
                                    <input type="text" class="form-control" id="" name="person1" placeholder="">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Agency/Company Name</label>
                                    <input type="text" class="form-control" id="" name="company1" placeholder="">
                                </div>
                            </div>
                            <div class="row mt-4 mx-1">
                                <h5 class="mb-3">Office Photos(Upload upto 10)</h5>
                                <div class="col">
                                    <input type="file" name="image1" id="image">
                                    <input type="file" name="image2" id="image">
                                    <input type="file" name="image3" id="image">
                                    <input type="file" name="image4" id="image">
                                    <input type="file" name="image5" id="image">
                                    <input type="file" name="image6" id="image">
                                    <input type="file" name="image7" id="image">
                                    <input type="file" name="image8" id="image">
                                    <input type="file" name="image9" id="image">
                                    <input type="file" name="image10" id="image">


                                </div>
                            </div>
                            <div class="row mt-4 mx-1">
                                <div class="mt-3">
                                    <label class="col-sm-8 form-label">Company Web Site</label>
                                    <input type="url" class="form-control" id="" name="companyweb1" placeholder="">
                                </div>
                            </div>

                            <hr class="my-3">

                            <button class="w-100 btn btn-primary btn-lg" type="submit" fdprocessedid="cyek4">Submit &
                                Continue</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>

    </main>




    <hr class="m-3">

    <div class="container bg-body-secondary mt-5">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3 bg-body-secondary">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address"
                                fdprocessedid="vwaxzl">
                            <button class="btn btn-primary" type="button" fdprocessedid="b2z52">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </footer>
    </div>
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>