<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/sign_up.css">
  <title>Signup page</title>
  <style>
    body {
      background-image: url('/static/home.jpg');
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">101Acres</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">



      </div>
    </div>
  </nav>
  <div class="signupform">
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" style="margin-top: 50px;">
      <strong>Account creates succesfully</strong> You can now <a href="/login"> login here </a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}



    <h2 class="text-center text-primary mt-2 mb-4">Sign up to 101acres</h2>
    <div class="container">
      <form action="/signup" id="form1" method="POST">
        <div class="from-row">
          <label>I am : </label><br>
          <input type="radio" name="iam" value="Owner">Owner</input>
          <input type="radio" name="iam" value="Builder">Builder</input>
          <input type="radio" name="iam" value="Agent">Agent</input><br>
        </div>
        <div class="from-row">
          <div class="col">
            <label class="form-label">First Name</label>
            <input type="name" class="form-control" placeholder="Enter your first name" id="InputName" name="first"
              aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text" id="here"></div>
          </div>
          <div class="col">
            <label class="form-label">Last Name</label>
            <input type="name" class="form-control" placeholder="Enter your last name" id="InputName" name="last"
              aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text" id="here"></div>
          </div>
        </div>
        <div class="from-row">
          <div class="col">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter Email id" id="InputEmail" name="email"
              aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text" id="here"></div>
          </div>
        </div>

        <div class="from-row">
          <div class="col">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" id="InputPassword">
            <div class='error' id='error'></div>
          </div>
        </div>

        <div class="from-row">
          <div class="col">
            <label class="form-label">Phone Number</label>
            <input type="number" class="form-control" placeholder="Enter your phone number" id="InputNumber"
              name="mobile" aria-describedby="numberHelp">
            <div id="numberHelp" class="form-text" id="here"></div>
          </div>
        </div>

        <div class="from-row">
          <div class="col">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" placeholder="Enter your address" id="InputNumber" name="address">
          </div>
        </div>


        <div class="from-row mt-2">
          <div class="col">
            <div class="dropdown">
              <label for="Inputstate">Select State:</label>
              <select name="state1">
                <option value="">Select a state</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
          </div>
        </div>

        <div class="from-row mt-2">
          <div class="col">
            <div class="dropdown">
              <label for="InputCity">Select city:</label>
              <select name="city">
                <option value="">Select a city</option>
                <option value="Ludhiana">Ludhiana</option>
                <option value="Amritsar">Amritsar</option>
                <option value="Jalandhar">Jalandhar</option>
                <option value="Bathinda">Bathinda</option>
                <option value="Pathankot">Pathankot</option>
                <option value="Mohali">Mohali</option>
                <option value="Phagwara">Phagwara</option>
                <option value="Moga">Moga</option>
                <option value="Kapurthala">Kapurthala</option>
                <option value="Firozpur">Firozpur</option>
                <option value="Patiala">Patiala</option>
              </select>

            </div>
          </div>
        </div>


        {% if valid %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
          <strong>Account already exist</strong> Try using different email and mobile number
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
       
        <input type="submit" value="Signup" class="btn btn-primary col-12 col-12 mt-2 mb-3">
      </form>
    </div>
    <div class="Signup_link">
      Already have an account? <a href="/login">Login</a>
    </div>
  </div>


  <script type="text/javascript">

    document.getElementById("form1").addEventListener("submit", validateForm)

    function validateForm(e) {
      // e.preventDefault();
      let name = document.getElementById("InputName").value;
      let email = document.getElementById("InputEmail").value;
      let number = document.getElementById("InputNumber").value;
      let password = document.getElementById("InputPassword").value;
      let city = document.getElementById("InputCity").value;
      // let error = document.getElementById("error").value;
      console.log(name, email, number, password, city);

      var re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      if (name == "") {
        alert("name must be filled out");
      }
      if (email == "") {
        alert("Email must be filled out");
      }

      if (number == "") {
        alert("number must be filled out");
      }

      else if (number.length != 10) {
        alert("number atleast 10 characters long")
      }
      // const regexExp = /^[6-9]\d{9}$/gi;
      // const str = "9207323601";

      // regexExp.test(str);

      if (city == "") {
        alert("city must be filled out");
      }

      else if (password == "") {
        alert('password must be filled')
        var error = document.getElementById('error')
        var test = document.getElementById("InputPassword")
        error.innerHTML = 'password must be filled';
        // test.style.border = '1px solid red'

      }
      else if (password.length < 8) {
        alert("password atleast 8 characters long")
      }
      else if (!re.test(password)) {
        console.log("wrong password");
      }
    }

  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

</body>

</html>